USE [master]
GO
/****** Object:  Database [ODAS]    Script Date: 23-Jul-18 9:04:25 AM ******/
CREATE DATABASE [ODAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ODAS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ODAS.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ODAS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\ODAS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ODAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ODAS]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 23-Jul-18 9:04:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Appointment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [int] NOT NULL,
	[PatientId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Start-Time] [date] NOT NULL,
	[End-Time] [date] NOT NULL,
	[Status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Appointment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DrRegistration]    Script Date: 23-Jul-18 9:04:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DrRegistration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [varchar](50) NOT NULL,
	[DoctorName] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[RegistrationNo] [varchar](50) NOT NULL,
	[NID] [varchar](50) NOT NULL,
	[PhoneNo] [varchar](50) NOT NULL,
	[Gender] [varchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[Degree] [varchar](50) NOT NULL,
	[SpecialityId] [int] NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_DrRegistration_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DrSchedule]    Script Date: 23-Jul-18 9:04:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DrSchedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DoctorId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Start-Time] [date] NOT NULL,
	[End-Time] [date] NOT NULL,
 CONSTRAINT [PK_DrSchedule_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PtRegistration]    Script Date: 23-Jul-18 9:04:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PtRegistration](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [varchar](50) NULL,
	[PatientName] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[PhoneNo] [varchar](50) NOT NULL,
	[Gender] [varchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[NID] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PtRegistration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Speciality]    Script Date: 23-Jul-18 9:04:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Speciality](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SpecialityName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Speciality] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[DrRegistration] ON 

INSERT [dbo].[DrRegistration] ([Id], [Image], [DoctorName], [Email], [RegistrationNo], [NID], [PhoneNo], [Gender], [DOB], [Degree], [SpecialityId], [Password]) VALUES (1, N'1223', N'Nora Alam', N'nasirhrana@gmail.com', N'123233', N'12345', N'01819429443', N'Male', CAST(0x793E0B00 AS Date), N'MBBS', 2, N'12345')
INSERT [dbo].[DrRegistration] ([Id], [Image], [DoctorName], [Email], [RegistrationNo], [NID], [PhoneNo], [Gender], [DOB], [Degree], [SpecialityId], [Password]) VALUES (2, N'qwert', N'nasir', N'nasirrana@gmaul.com', N'123233', N'12345', N'01819429443', N'Male', CAST(0x793E0B00 AS Date), N'MBBS', 1, N'12345')
SET IDENTITY_INSERT [dbo].[DrRegistration] OFF
SET IDENTITY_INSERT [dbo].[DrSchedule] ON 

INSERT [dbo].[DrSchedule] ([Id], [DoctorId], [Date], [Start-Time], [End-Time]) VALUES (1010, 5, CAST(0x803E0B00 AS Date), CAST(0x75250B00 AS Date), CAST(0x75250B00 AS Date))
INSERT [dbo].[DrSchedule] ([Id], [DoctorId], [Date], [Start-Time], [End-Time]) VALUES (1011, 2, CAST(0x803E0B00 AS Date), CAST(0x75250B00 AS Date), CAST(0x75250B00 AS Date))
SET IDENTITY_INSERT [dbo].[DrSchedule] OFF
SET IDENTITY_INSERT [dbo].[Speciality] ON 

INSERT [dbo].[Speciality] ([Id], [SpecialityName]) VALUES (1, N'dentist')
INSERT [dbo].[Speciality] ([Id], [SpecialityName]) VALUES (2, N'neorologist')
INSERT [dbo].[Speciality] ([Id], [SpecialityName]) VALUES (3, N'scientist')
SET IDENTITY_INSERT [dbo].[Speciality] OFF
ALTER TABLE [dbo].[Appointment]  WITH CHECK ADD  CONSTRAINT [FK_Appointment_PtRegistration] FOREIGN KEY([PatientId])
REFERENCES [dbo].[PtRegistration] ([Id])
GO
ALTER TABLE [dbo].[Appointment] CHECK CONSTRAINT [FK_Appointment_PtRegistration]
GO
ALTER TABLE [dbo].[DrRegistration]  WITH CHECK ADD  CONSTRAINT [FK_DrRegistration_Speciality] FOREIGN KEY([SpecialityId])
REFERENCES [dbo].[Speciality] ([Id])
GO
ALTER TABLE [dbo].[DrRegistration] CHECK CONSTRAINT [FK_DrRegistration_Speciality]
GO
USE [master]
GO
